/*
RESOURCES:
*/

@font-face {
    font-family: 'a_pompadour_sampleregular';
    src: url('../resources/fonts/02_apompadourtextsample-webfont.woff2') format('woff2'),
         url('../resources/fonts/02_apompadourtextsample-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_pompadour_bold_sampleRg';
    src: url('../resources/fonts/03_apompadourboldsample-webfont.woff2') format('woff2'),
         url('../resources/fonts/03_apompadourboldsample-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

button{
    border:none;
    height: 46px;
    font-size: 1rem;
    padding: 0 10px;
    font-family: a_pompadour_sampleregular;
    border-radius: 2.5px;
}

button .fa-heart{
    color: #FF4F4F;
}

.button-black{
    background-color:black;
    color:white;
}

body{
    font-family: a_pompadour_sampleregular;
    font-size:12pt;
}


/*
NAVIGATION
*/
div.main-navigation{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-width: 1636px;
    padding: 0 50px;
    width: 100%;
    margin: 0 auto;
    height:200px;
    align-items: center;
}

.main-navigation-left, .main-navigation-right{
    width: 40%;
}

.search-bar{
    border: solid 1px black;
    border-radius: 2.5px;
    height: 46px;
    font-size: 1.25rem;
    line-height: 46px;
    padding: 0 10px;
}

.search-bar i{
    line-height: 46px;
    font-size:1rem;
}

.search-bar input{
    color:black;
}

.navigation-search{
    border: none;
}

.navigation-search:focus {
    outline-color: transparent;
    outline-style: none;
  }

.main-navigation-left{
    display: flex;
    justify-content: flex-start;
}

.main-navigation-right{
    display: flex;
    justify-content: flex-end;
}

.main-navigation-right > button{
    margin-right: 10px;
}

.main-navigation-left button + i, .main-navigation-left i + i{
    font-size: 48px;
}

.search-bar, .search-bar + button, button + i{
    margin-right: 10px;
}

.logo-main{
    max-height: 200px;
    width: auto;
}

.fa-file-download{
    font-size: 32px;
}


/*
HOMEPAGE
*/
.body-homepage{
    background-image: url("../resources/backgrounds/achtergrond1.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
    max-width: 1636px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-top:100px;
}

.ship-like{
    color: #FF4F4F;
    font-size:32px;
}

.container-homepage.block a{
    position: relative;
    margin-bottom: 50px;
    max-width:23.5%;
    width:100%;
    text-decoration: none;
    color: black;
}

.ship .ship-info h2{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.ship .ship-info h6{
    color: #FF4F4F;
}

.container-homepage.block a .ship .ship-info h2{
    margin-bottom: 0;
}

.container-homepage.block a .ship .ship-extra-info{
    display: none;
}

.container-homepage.block a .ship .ship-info h6{
    font-size: 1rem;
    line-height: 1.5rem;
    margin:0;
}

.container-homepage.block .img-ship{
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
}

.container-homepage.block .ship-like{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
}

.container-homepage.list{
    max-width: 1063px;
}

.container-homepage.list a .ship{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    background-color: #FCFCFC;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    margin-bottom: 34px;
}

.container-homepage.list .img-ship{
    display: none;
}

.container-homepage.list .ship-info{
    display: flex;
    flex-direction: row-reverse;
}

.container-homepage.list a .ship .ship-extra-info{
    display: flex;
    align-items: center;
    color: #888888;
}

.container-homepage.list a .ship .ship-info{
    align-items: center;
}

.container-homepage.list .ship-extra-info h5{
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin: 0;
}

.container-homepage.list a .ship .ship-info h6{
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin:0;
}

.container-homepage.list a .ship .ship-info h2{
    font-size: 1.25rem;
}

.container-homepage.list a .ship .ship-info h2, .container-homepage.list a .ship .ship-info h6, .container-homepage.list a .ship .ship-extra-info h5, .container-homepage.list a .ship .ship-extra-info i{
    padding: 10px 20px;
}

.container-homepage.list a .ship .ship-info h6{
    border-right: solid 2px #888888;
}

.container-homepage.list a .ship .ship-extra-info h5, .container-homepage.list a .ship .ship-extra-info i{
    border-left: solid 2px #888888;
}